@-webkit-keyframes SignUpRight {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  90% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes SignUpRight {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  90% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes LogInhidden {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.1;
  }
  90% {
    opacity: 0.05;
  }
  100% {
    opacity: 0;
  }
}

@keyframes LogInhidden {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.1;
  }
  90% {
    opacity: 0.05;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes move-underline {
  0% {
    margin-left: 40%;
    margin-right: 40%;
  }
  25% {
    margin-left: 30%;
    margin-right: 30%;
  }
  50% {
    margin-left: 20%;
    margin-right: 20%;
  }
  100% {
    margin-left: 0%;
    margin-right: 0%;
  }
}

@keyframes move-underline {
  0% {
    margin-left: 40%;
    margin-right: 40%;
  }
  25% {
    margin-left: 30%;
    margin-right: 30%;
  }
  50% {
    margin-left: 20%;
    margin-right: 20%;
  }
  100% {
    margin-left: 0%;
    margin-right: 0%;
  }
}

#chk {
  display: none;
}

#chk:checked ~ .SignUp > form {
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
  -webkit-animation-name: SignUpRight;
          animation-name: SignUpRight;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  visibility: visible;
}

@media screen and (max-width: 850px) {
  #chk:checked ~ .SignUp > form {
    -webkit-transform: translate(0%, -60%);
            transform: translate(0%, -60%);
  }
}

@media screen and (min-width: 850px) {
  #chk:checked ~ .SignUp > form {
    -webkit-transform: translate(-145%, 0px);
            transform: translate(-145%, 0px);
  }
}

#chk:checked ~ .LogIn {
  -webkit-animation-name: LogInhidden;
          animation-name: LogInhidden;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-transform: translateY(500px);
          transform: translateY(500px);
  visibility: hidden;
}

.SignUp {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.LogIn {
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

body {
  margin: 0;
}

header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

header > div:nth-child(1) {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10vh;
  padding: 10px 20px 10px 20px;
}

@media screen and (max-width: 850px) {
  header > div:nth-child(1) {
    padding: 0px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media screen and (min-width: 850px) {
  header > div:nth-child(1) {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

header > div:nth-child(1) > :nth-child(1) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757171;
}

@media screen and (max-width: 850px) {
  header > div:nth-child(1) > :nth-child(1) {
    display: none;
  }
}

@media screen and (min-width: 850px) {
  header > div:nth-child(1) > :nth-child(1) {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

header > div:nth-child(1) > :nth-child(1) i {
  font-size: 14px;
}

header > div:nth-child(1) > :nth-child(1) a {
  margin: 5px;
  text-decoration: none;
  color: #757171;
  font-size: 15px;
}

header > div:nth-child(1) > :nth-child(1) a:hover {
  color: hotpink;
}

header > div:nth-child(1) > :nth-child(1) > :nth-child(6) {
  margin-right: 15px;
}

header > div:nth-child(1) > :nth-child(1) > :nth-child(7) {
  color: hotpink;
  font-size: large;
}

header > div:nth-child(1) > :nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #757171;
}

@media screen and (max-width: 850px) {
  header > div:nth-child(1) > :nth-child(2) {
    display: none;
  }
}

header > div:nth-child(1) > :nth-child(2) img {
  width: 25px;
  height: 25px;
}

header > div:nth-child(1) > :nth-child(2) a {
  margin: 5px;
  text-decoration: none;
  color: #757171;
  font-size: 15px;
}

header > div:nth-child(1) > :nth-child(2) a:hover {
  color: hotpink;
}

header > div:nth-child(1) > :nth-child(3) {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #757171;
  height: 100%;
  z-index: 99;
}

@media screen and (max-width: 850px) {
  header > div:nth-child(1) > :nth-child(3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 850px) {
  header > div:nth-child(1) > :nth-child(3) {
    display: none;
  }
}

header > div:nth-child(1) > :nth-child(3) .label {
  width: 20px;
  height: 50px;
  -webkit-transition: width 0.1s linear;
  transition: width 0.1s linear;
}

header > div:nth-child(1) > :nth-child(3) #chk-2:checked ~ .label {
  background-color: #eecda3;
  width: 118px;
  -webkit-box-shadow: -5px 0 5px 1px rgba(0, 0, 0, 0.8);
          box-shadow: -5px 0 5px 1px rgba(0, 0, 0, 0.8);
}

header > div:nth-child(1) > :nth-child(3) #chk-2:checked ~ .menu {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  background-color: #eecda3;
  margin-bottom: 5px;
  margin-right: 15px;
  -webkit-transform: translate(17px, 0px);
          transform: translate(17px, 0px);
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

header > div:nth-child(1) > :nth-child(3) #chk-2:checked ~ .menu a {
  text-decoration: none;
  color: #757171;
}

header > div:nth-child(1) > :nth-child(3) .menu {
  -webkit-transform: translate(125px, 0px);
          transform: translate(125px, 0px);
  width: 120px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-box-shadow: -5px 5px 5px 1px rgba(0, 0, 0, 0.8);
          box-shadow: -5px 5px 5px 1px rgba(0, 0, 0, 0.8);
}

header > div:nth-child(1) > :nth-child(3) .menu-1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  direction: rtl;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
  height: 20px;
  padding: 10px;
  border-bottom: 1px solid #757171;
  margin-top: 10px;
}

header > div:nth-child(1) > :nth-child(3) #chk-2 {
  display: none;
}

header > :nth-child(2) {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 90vh;
  background: -webkit-gradient(linear, left top, right top, from(#eecda3), to(#ef629f));
  background: linear-gradient(to right, #eecda3, #ef629f);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header > :nth-child(2) > :nth-child(1) {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

header > :nth-child(2) > :nth-child(1) nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 10%;
  padding: 20px 40px 0px 40px;
  margin-bottom: 50px;
}

@media screen and (max-width: 850px) {
  header > :nth-child(2) > :nth-child(1) nav {
    display: none;
  }
}

@media screen and (min-width: 850px) {
  header > :nth-child(2) > :nth-child(1) nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 850px) {
  header > :nth-child(2) > :nth-child(1) nav > :nth-child(2) a {
    display: none;
  }
}

@media screen and (min-width: 850px) {
  header > :nth-child(2) > :nth-child(1) nav > :nth-child(2) a {
    display: inline;
  }
}

header > :nth-child(2) > :nth-child(1) nav > :nth-child(2) a > img {
  width: 150px;
  height: 40px;
}

header > :nth-child(2) > :nth-child(1) nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header > :nth-child(2) > :nth-child(1) nav ul li {
  padding: 0px 30px 0px 0px;
}

header > :nth-child(2) > :nth-child(1) nav ul li > a {
  padding-bottom: 5px;
  color: white;
  text-decoration: none;
}

header > :nth-child(2) > :nth-child(1) nav ul li hr {
  visibility: hidden;
}

header > :nth-child(2) > :nth-child(1) nav ul li:hover hr {
  visibility: visible;
  -webkit-animation: move-underline 0.4s linear 1;
          animation: move-underline 0.4s linear 1;
}

header > :nth-child(2) > :nth-child(1) nav ul li:hover a {
  color: hotpink;
}

header > :nth-child(2) > :nth-child(2) {
  height: 500px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 850px) {
  header > :nth-child(2) > :nth-child(2) {
    width: 400px;
    max-width: 90%;
    display: inline-block;
  }
}

@media screen and (min-width: 850px) {
  header > :nth-child(2) > :nth-child(2) {
    width: 800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

header > :nth-child(2) > :nth-child(2) > :nth-child(2) {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 850px) {
  header > :nth-child(2) > :nth-child(2) > :nth-child(2) {
    width: 100%;
  }
}

@media screen and (min-width: 850px) {
  header > :nth-child(2) > :nth-child(2) > :nth-child(2) {
    width: 50%;
  }
}

header > :nth-child(2) > :nth-child(2) > :nth-child(2) form {
  width: 70%;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(2) form * {
  border: none;
  border-radius: 5px;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(2) form > :nth-child(1) {
  margin-bottom: 10px;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(2) form > :nth-child(2) {
  margin-bottom: 10px;
  height: 30px;
  position: relative;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(2) form > :nth-child(2) > input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(2) form > :nth-child(2) > input:focus {
  outline: none;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(2) form > :nth-child(2) > input:focus ~ span {
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(2) form > :nth-child(2) > input ~ span {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: chartreuse;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(2) form > :nth-child(3) {
  margin-bottom: 10px;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(2) form > :nth-child(4) {
  margin-bottom: 10px;
  height: 30px;
  position: relative;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(2) form > :nth-child(4) input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(2) form > :nth-child(4) input:focus {
  outline: none;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(2) form > :nth-child(4) input:focus ~ span {
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(2) form > :nth-child(4) input ~ span {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: chartreuse;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(2) form > :nth-child(5) {
  margin-bottom: 10px;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(2) form > :nth-child(6) {
  margin-bottom: 10px;
  height: 30px;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(2) form > :nth-child(6) input {
  color: darkgreen;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #ef629f;
  cursor: pointer;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(2) form > :nth-child(7) {
  margin-bottom: 10px;
  height: 30px;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(2) form > :nth-child(7) > label {
  color: darkgreen;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: #eecda3;
  cursor: pointer;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(2) > :nth-child(2) {
  margin-bottom: 10px;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(2) > :nth-child(3) {
  margin-bottom: 10px;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(2) > :nth-child(3) i {
  font-size: 25px;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(2) > :nth-child(3) > :nth-child(2) {
  color: #0297fa;
  margin: 0px 20px;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(2) > :nth-child(3) > :nth-child(3) {
  color: red;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(2) > :nth-child(4) {
  margin-bottom: 10px;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(2) > :nth-child(4) a {
  text-decoration: none;
  color: black;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 850px) {
  header > :nth-child(2) > :nth-child(2) > :nth-child(3) {
    width: 100%;
    height: 0px;
  }
}

@media screen and (min-width: 850px) {
  header > :nth-child(2) > :nth-child(2) > :nth-child(3) {
    width: 50%;
    height: 500px;
    background-image: url(../image/simple-wedding-cakes-21.jpg);
    background-size: cover;
  }
}

header > :nth-child(2) > :nth-child(2) > :nth-child(3) form {
  visibility: hidden;
  width: 70%;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(3) form * {
  border: none;
  border-radius: 5px;
  outline: none;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(3) form > :nth-child(1) {
  margin-bottom: 5px;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(3) form > :nth-child(2) {
  margin-bottom: 5px;
  height: 30px;
  position: relative;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(3) form > :nth-child(2) input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(3) form > :nth-child(2) input:focus {
  outline: none;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(3) form > :nth-child(2) input:focus ~ span {
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(3) form > :nth-child(2) input ~ span {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: chartreuse;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(3) form > :nth-child(3) {
  margin-bottom: 5px;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(3) form > :nth-child(4) {
  margin-bottom: 5px;
  height: 30px;
  position: relative;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(3) form > :nth-child(4) input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(3) form > :nth-child(4) input:focus {
  outline: none;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(3) form > :nth-child(4) input:focus ~ span {
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(3) form > :nth-child(4) input ~ span {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: chartreuse;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(3) form > :nth-child(5) {
  margin-bottom: 5px;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(3) form > :nth-child(6) {
  margin-bottom: 5px;
  height: 30px;
  position: relative;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(3) form > :nth-child(6) input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(3) form > :nth-child(6) input:focus {
  outline: none;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(3) form > :nth-child(6) input:focus ~ span {
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(3) form > :nth-child(6) input ~ span {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: chartreuse;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(3) form > :nth-child(7) {
  margin-bottom: 5px;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(3) form > :nth-child(8) {
  margin-bottom: 5px;
  height: 30px;
  position: relative;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(3) form > :nth-child(8) input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(3) form > :nth-child(8) input:focus {
  outline: none;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(3) form > :nth-child(8) input:focus ~ span {
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(3) form > :nth-child(8) input ~ span {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: chartreuse;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(3) form > :nth-child(9) {
  margin-bottom: 5px;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(3) form > :nth-child(10) {
  margin-bottom: 5px;
  height: 30px;
  position: relative;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(3) form > :nth-child(10) input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(3) form > :nth-child(10) input:focus {
  outline: none;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(3) form > :nth-child(10) input:focus ~ span {
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(3) form > :nth-child(10) input ~ span {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: chartreuse;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(3) form > :nth-child(11) {
  margin-bottom: 5px;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(3) form > :nth-child(12) {
  margin-bottom: 5px;
  height: 30px;
  position: relative;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(3) form > :nth-child(12) input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(3) form > :nth-child(12) input:focus {
  outline: none;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(3) form > :nth-child(12) input:focus ~ span {
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(3) form > :nth-child(12) input ~ span {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: chartreuse;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(3) form > :nth-child(13) {
  margin-bottom: 10px;
  height: 30px;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(3) form > :nth-child(13) input {
  color: darkgreen;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #ef629f;
  cursor: pointer;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(3) form > :nth-child(14) {
  height: 30px;
}

header > :nth-child(2) > :nth-child(2) > :nth-child(3) form > :nth-child(14) label {
  color: darkgreen;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: #eecda3;
  cursor: pointer;
  border-radius: 5%;
}

footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  padding: 10px 20px 10px 20px;
  align-items: center;
  color: #757171;
}

@media screen and (max-width: 850px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 850px) {
  footer {
    display: none;
  }
}

footer i {
  font-size: 14px;
}

footer a {
  margin: 5px;
  text-decoration: none;
  color: #757171;
  font-size: 15px;
  -webkit-transition: 1s;
  transition: 1s;
}

footer a:hover {
  color: hotpink;
}

footer > :nth-child(6) {
  margin-right: 15px;
}

footer > :nth-child(7) {
  color: hotpink;
  font-size: large;
}
/*# sourceMappingURL=login.css.map */